<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="http://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <title>Chat application</title>
</head>

<body>
    <header>
        <h1>Welcome to chat application</h1>
    </header>

    <section>
        <div id="change_username">
            <input id="username" type="text" value="" />
            <button id="sendUsername" type="button">Change username</button>
        </div>
    </section>

    <section id="chatroom">
        <section id="feedback"></section>
    </section>

    <section id="input_zone">
        <input id="message" class="vertical-align" type="text" value="" />
        <button id="sendMessage" class="vertical-align" type="button">Send</button>
    </section>

    <script src="chat.js"></script>
</body>

</html>
